a {font-family: helvetica, verdana;
font-size: 14px;
text-align: center;
text-decoration: underline;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: red;
  border: 1px solid red;
}
.btn-size {width: 160px;}

body {
font-family:'montserrat', arial;
}

.home {background:url('images/tiles-01.png');}

.answer {background:url('images/tiles-02.png');}

.newword {background:url('images/tiles-03.png');}

h1 {color: red;
}
.center {text-align: center;}

th.center {font-size: 20px;}


input {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  width: 395px;
}

li{list-style-type: none;
 text-align: center;
}

#ital {font-style: italic;
font-size: 18px;
padding: 40px 0 0 0;
margin-left: 0;}

.buffer {padding: 100px;}

.showme {line-height: 40px;
font-size: 30px;}

.list {font-size: 30px;
color: blue;}

.error {text-align: center;
  font-size: 25px;
color: green;
}
