body {background:#f8f8f8;
font-family:'montserrat', arial;
height: 100%;
width: 100%;
}

.container {
margin: 55px 0px 0px 0px;
}

.home {background:url('images/tiles-01.png');}

.answer {background:url('images/tiles-02.png');}

h1 {color: red;
  text-align: center;
}

.smallcaps {font-variant: small-caps;
font-size: 50px;
font-weight: bold;}

div.display {width: 450px;
  position: absolute;
  left: 30%;
}

div.box {position: relative;
  left: 0px;
  text-align: center;}

p.ital {font-style: italic;
font-size: 18px;
text-align: left;
margin: 50px 0 0 0;
}

input {width: 450px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  margin: 0 0 20px 0;
}

input.showme, textarea {
  font-size: 30px;
  color: white;
  background-color: red;
}

.list {text-align: left;
font-size: 30px;
color: blue;}

 li{list-style-type: none;
  margin: 20px;
  text-align: center;
}

.error {text-align: center;
  font-size: 25px;
color: green;
}

b {border-style: solid;
border-width: 1px;
border-color: red;
}

a {font-family: arial, verdana;
font-size: 12px;
font-weight: bold;
margin: 30px;
}
a:link {color: blue;
text-decoration: underline;;}

a:visited {color: purple;
text-decoration: none;}

a:link:hover {background-color: #e9e9e9;
text-decoration: underline;}

a:active {color: #0033ff;
text-decoration: underline;}
