

body {background:#f8f8f8;
font-family:'montserrat', arial;
height: 100%;
width: 100%;}

.container {width: 960px;
margin: auto;
text-align: center;}

.home {background:url('images/tiles-01.png');}

.answer {background:url('images/tiles-02.png');}

h1 {color: red;}

p.ital {font-style: italic;}


.showme {color: white;
background-color: red;
text-align: center;}
