

body {background:#f8f8f8;
font-family:'montserrat', arial;
height: 100%;
width: 100;}

.home {background:url('images/tiles-01.png');}

.answer {background:url('images/tiles-02.png');}

h1 {color: red;}
