<div class="col-md-6 col-md-offset-3">
  <h1 style="text-align: center">Your Word is: <%= @word.text.upcase %></h1>

  <table class="table">
    <table class="table table-hover">
      <thead>
        <th class="center">Text</th>
        <th class="center">Letters</th>
      </thead>
    <tbody>
      <tr class="center">
        <td><%= @word.text %></td>
        <td><%= @word.letters %></td>
      </tr>
    </tbody>
  </table>
</div>
