<div class="display">
  <h1>Welcome To Our</h1>
  <h1><strong>ANAGRAM GENERATOR</strong></h1>

  <% if @error.present? %>
  <p class='error'><%= "#{@error}" %></p>
  <% end %>

<div class="box">
<p class="ital">3 Letter Words ONLY Please!</p>
<form class="form" action="/" method="post">
  <div>
    <label for="word"> </label>
    <input type="text" name="word">
  </div>
  <div>
    <input type="submit" value="Show Me My Anagrams!" class="btn showme">
  </div>
</form>
</div>
</div>
