
  <h1>Welcome To Our</h1>
  <h1><strong>ANAGRAM GENERATOR</strong></h1>

  <p class="ital">3 Letter Words ONLY Please!</p>

<form class="col-lg-4" action="/" method="post">
  <form class="form">
  <div>
    <label for="word"> </label>
    <input type="text" name="word">
  </div>
  <div class="showme col-lg-4">
    <input type="submit" value="Show Me My Anagrams!" class="btn showme">
  </div>
</form>
