
  <h1>Welcome To Our</h1>
  <h1><strong>ANAGRAM GENERATOR</strong></h1>

  <p class="ital">3 Letter Words ONLY Please!</p>

<form class="col-md-4" action="/" method="post" class="form ">
  <label for="word">''</label>
  <input type="text" name="word">
  <input type="Show Me My Anagrams!" class="btn showme">
</form>

</div>
