
  <div class="row center">
    <div class="col-md-6 col-md-offset-2">

      <h1>Welcome To Our</h1>
      <h1><strong>ANAGRAM GENERATOR</strong></h1>
  <br>
      <% if @error.present? %>
        <p class="danger"><%= "#{@error}" %></p>
      <% end %>
    </div>
  </div>

  <div class="row center">

    <div class="col-md-6 col-md-offset-2">

      <form role="form" action="/" method="post" class="form-horizontal">

          <div class="form-group" >
            <p id="ital">Use Letters ONLY Please!</p>
            <label for="word" > </label>
            <input type="text" pattern ="[A-Za-z]+" name="word">
          </div>
          <div class="form-group">
            <div>
              <button type="submit"  class="btn btn-danger showme">Show Me My Anagrams!</button>
            </div>
          </div>
        </form>
    </div>
  </div>
