<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anagrams Generator</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- FontAwesome CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
<!-- personal links and styles -->
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/style.css">
</head>

  <body class="<%= @page %>">
    <div class="container">

          <%= yield %>

      <div class="row buffer center">
        <div class="col-sm-4 col-md-3 col-lg-3 col-lg-offset-0 col-xlg-3 col-xlg-offset-0"><a href="/words" class="btn btn-danger btn-size">Dictionary</a></div>
        <div class="col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 col-xlg-3 col-xlg-offset-1"><a href="/words/new" class="btn btn-danger btn-size"> Add a Word</a></div>
        <div class="col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1 col-xlg-3 col-xlg-offset-1"><a href="/" class="btn btn-danger btn-size">Home</a></div>
      </div>
    </div>
  </body>
</html>
