<div class="col-md-6 col-md-offset-3">
  <h1 class="center">Anagrams for <%= "#{@word}" %></h1>

  <ul class="list">
    <% if !@anagrams.nil? %>
      <% @anagrams.each do |item| %>
        <li>
          <%= "#{item.text}" %>
        </li>
      <% end %>
    <% end %>
  </ul>


  <a href="/" class="smallcaps">Back to Home</a>
</div>
